 body {
        background-color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
    }

    h1{
color: rgb(150, 120, 110);
background-color: aqua;
    }
    h2{
color: rgb(202, 150, 150);

    }
p{
text-align: justify;
}
